:root{
    --primary-color: rgb(14, 144, 184);
    --primary-color-darker: rgb(18, 104, 133);
}

*{
    box-sizing: border-box;
    outline: 0;
    
}

body{
    margin:auto ;
    padding: auto;
    background: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background:#fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.425);
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);

}
form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: rgb(139, 139, 139);
}

.imc{
    display: inline-block;
    padding-left: 20px;
    text-align:justify;

}
.imc p{
    text-align: center;
    font-weight: bold;
}
.resultado{
    display: inline-block;
    padding-left: 70px;
}
.resultado p{
    text-align: center;
    font-weight: bold;

    
}

